# This file contains python only requirements to be installed with pip
# Python pacakges that cannot be installed with pip are not included.
# Usage: python -m pip install -r requirements.txt
numpy>=1.8
matplotlib>=1.3.1
shapely>=1.3
rtree
scipy
vispy
pyqt6
